@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

:root {
    --white: #f5f5f5;
    --whitedim: #e4e4e4;
    --dim: #5b5b61;
    --dimselect: #707076;
    --navy: #0D1117;
    --lightnavy: #121820;
    --blue: #000059;
    --border: #222c3a;
    
    --dark-blue: #050A30;
    --navy-blue: #000C66;
    --normal-blue: #000C66;
    --baby-blue: #7EC8E3;
    --new-blue: #1f15a3;
    --description-blue: #aabcf5;
    --topics-color: #1842eb;

    --ai-button-color: #7795f8;
    --ai-button-color-hover: #5b6cb8;
    --cv-button-color: #f8b779;
    --cv-button-color-hover: #b88c5b;
    --cv-button-color: #79f8b7;
    --cv-button-color-hover: #5bb88c;
    --rl-button-color: #f87979;
    --rl-button-color-hover: #b85b5b;
    --nlp-button-color: #f879f8;
    --nlp-button-color-hover: #b85bb8;
    --speech-button-color: #79b8f8;
    --speech-button-color-hover: #5b8cb8;
}

#mainText {
    margin: 0 auto;
    padding-top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#mainPicture {
    width: 15em;
    max-width: 100%;
    border-radius: 100%;
    display: block;
	margin-top: 7em;
    margin-left: auto;
    margin-right: auto;
    transition: 0.4s;
    border: 4px solid transparent;
    border-color: var(--white);
    animation-duration: 2s;
    justify-content: center;
}

body {
    overflow-y: scroll;
    display: block;
    margin: auto;
    background-color: var(--dark-blue);
    /* background: linear-gradient(to bottom, var(--navy-blue) 0%, var(--dark-blue) 100%); */
    font-size: 18px;
    font-family: Lato;
    color: white;
    margin-top: 6em;
}

h1 {
    font-size: 2em;
    letter-spacing: 1px;
    text-align: center; /* Center align text */
    margin: 0; /* Reset default margins for h1 */
    font-family: 'Ubuntu', sans-serif;
    color: var(--white);
    text-align: center;
    transition: opacity 0.7s ease, color 0.7s ease;
}

h1:hover {
    color: var(--topics-color);
    opacity: 0.95;
}


h2 {
    font-size: 1em;
    padding-left: 20vw;
    padding-right: 20vw;
    font-family: Ubuntu Mono;
    letter-spacing: 1px;
}

#footer {
    display: center;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 3vh;

    font-family: Ubuntu Mono;
    font-size: 15px;
    font-weight: 500;
    text-transform: none;
    bottom: 0;
    margin: 0;
    padding: 0;
    color: var(--dim);
    background: linear-gradient(to bottom, var(--dark-blue) 0%, var(--dark-blue) 100%);
}


#social {
    padding-top: 1em;
    padding-bottom: 2em;
    width: 100%;
    height: auto;
    background: var(--navy);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    background: linear-gradient(to bottom, var(--dark-blue) 0%, var(--dark-blue) 100%);
}

.sociallink svg:hover {
    opacity: 0.8;
    fill: var(--ai-button-color-hover);
}

.sociallinkfill svg:hover {
    opacity: 0.8;
    fill: var(--ai-button-color-hover);
}

.sociallink,
.sociallinkfill {
    padding-left: 10px;
    padding-right: 10px;
}

.footer-icon{
    width: 28px;
    height: 28px;
}

.bounce-animation {
    animation-name: bounce-7;
    animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
}

@keyframes bounce-7 {
    0% {
        transform: scale(1,1) translateY(0);
        border-color: hsl(0, 100%, 50%);
    }
    10% {
        transform: scale(1.1,.9) translateY(0);
        border-color: hsl(36, 100%, 50%);
    }
    30% {
        transform: scale(.9,1.1) translateY(-100px);
        border-color: hsl(144, 100%, 50%);
    }
    50% {
        transform: scale(1.05,.95) translateY(0);
        border-color: hsl(288, 100%, 50%);
    }
    57% {
        transform: scale(1,1) translateY(-7px);
        border-color: hsl(0, 100%, 50%);
    }
    64% {
        transform: scale(1,1) translateY(0);
        border-color: hsl(0, 100%, 50%);
    }
    100% {
        transform: scale(1,1) translateY(0);
        border-color: hsl(0, 100%, 50%);
    }
}

@keyframes spin-7 {
    0% {
        transform: rotate(0deg);
        border-color: hsl(0, 100%, 50%);
    }
    25% {
        transform: rotate(90deg);
        border-color: hsl(120, 100%, 50%);
    }
    50% {
        transform: rotate(180deg);
        border-color: hsl(240, 100%, 50%);
    }
    75% {
        transform: rotate(270deg);
        border-color: hsl(60, 100%, 50%);
    }
    100% {
        transform: rotate(360deg);
        border-color: hsl(360, 100%, 50%);
    }
}



.spin-animation {
    animation-name: spin-7;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
}

li strong {
    line-height: 90%;
    font-size: 24px;
}

#header {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    position: fixed;
    top: 0;
    width: 100%;
    background: var(--dark-blue); /* If needed, add your header background here */
}

#navbarmenu {
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
    height: 10vh;
    font-family: Ubuntu Mono;
    font-size: 18px;
    text-transform: lowercase;
    font-weight: 400;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background: var(--dark-blue);
    margin-bottom: 10vh;
    padding: 0;
}


#navbarmenu li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vw;
    height: 100%;
}

#nav-mobile {
    z-index: 2;
    top: 0;
    width: 100%;
    height: 100%;

    position: fixed;
    background-color: rgba(5, 10, 48, 0.95);
    /* transparent bg */
    overflow: hidden;

    padding-top: 10vh;
    padding-bottom: 10vh;

    font-family: Ubuntu Mono;

    /* wipe crop down animation */
    animation-name: wipe_down;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;

    /* ease out */
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

@keyframes wipe_down {
    from {
        height: 0%;
        padding-top: 0;
        padding-bottom: 0;
    }

    to {
        height: 100%;
        padding-top: 10vh;
        padding-bottom: 10vh;
    }
}

@keyframes wipe_up {
    from {
        height: 100%;
        padding-top: 10vh;
        padding-bottom: 10vh;
    }

    to {
        height: 0%;
        padding-top: 0;
        padding-bottom: 0;
    }
}

#nav-mobile ul {
    padding: 2em;
}

#nav-mobile ul li {
    font-size: 2em;
    font-weight: 300;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    letter-spacing: 1px;
    width: 100%;
}

#nav-mobile ul li a {
    opacity: 1;
    color: var(--white);
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.3em;
    padding-right: 0.3em;

    display: flex;
    width: 100%;
}

/* Mobile Hamburger */
.hamb {
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    z-index: 3;

    right: 0;
    top: 0;

    width: 1.5em;
    height: 2em;

    cursor: pointer;
    float: right;
    padding: 1.5em;
    margin: 0;

    background: var(--dark-blue);
    border-bottom-left-radius: 50%;
}

.hamb-line {
    background: var(--white);

    display: block;
    height: 1.5px;
    position: relative;
    width: 1em;
    padding: 0;
    margin: 0;
}

.hamb-line::before,
.hamb-line::after {
    background: var(--white);
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.1s ease-out;
    width: 100%;
}

#navbarmenu {
    display: contents;
}

.hamb{
    display: none;
}

#nav-mobile {
    display: none;
}

.hamb-line::before {
    top: 5px;
}

.hamb-line::after {
    top: -5px;
}

.side-menu {
    display: none;
}

.side-menu:checked~nav {
    max-height: 100%;
}

@keyframes highlight_in {
    from {
        background-position: 0;
    }
    to {
        background-position: -100%;
    }
}

@keyframes highlight_out {
    from {
        background-position: -100%;
    }
    to {
        background-position: 0;
    }
}

.navbaritem {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0.5em;
    padding-right: 0.5em;
    width: 100%;
    height: 50%;
    color: var(--white);
    text-align: center;
    text-decoration: none;
    transition: 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.custom-list {
    list-style: none; /* Remove default bullets */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
}

/* Display list items in a line */
.custom-list li {
    display: inline;
    margin-right: 15px; /* Add some space between list items */
}

/* To remove the right margin from the last list item */
.custom-list li:last-child {
    margin-right: 0;
}

.navbaritem.hovered {
    animation-name: highlight_out;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    background-size: 200%;
    background-image: linear-gradient(to right, transparent 50%, var(--white) 50%);
}

.navanimate {
    border-bottom: 1px solid rgba(0, 0, 0, 0);
}

.navanimate:hover {
    color: var(--dark-blue);
    animation-name: highlight_in;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    background-size: 200%;
    background-image: linear-gradient(to right, transparent 50%, var(--white) 50%);

}

#selected {
    border-bottom: 1px solid var(--white);
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2em;
    padding-bottom: 1em;
}

.horizontal-content{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2em;
    padding-bottom: 1em;
    gap: 1.2em;
}

.ai-button{
    border-radius: 50px;
    border: 1.5px solid var(--ai-button-color);
    background-color: var(--dark-blue);
    color:var(--white);
    font-size: 0.9em;
}

.ai-button:hover{
    background-color: var(--ai-button-color);
    border-color: var(--ai-button-color-hover);
}

.cv-button{
    border-radius: 50px;
    border: 1.5px solid var(--cv-button-color);
    background-color: var(--dark-blue);
    color:var(--white);
    font-size: 0.9em;
}

.cv-button:hover{
    background-color: var(--cv-button-color);
    border-color: var(--cv-button-color-hover);
}

.rl-button{
    border-radius: 50px;
    border: 1.5px solid var(--rl-button-color);
    background-color: var(--dark-blue);
    color:var(--white);
    font-size: 0.9em;
}

.rl-button:hover{
    background-color: var(--rl-button-color);
    border-color: var(--rl-button-color-hover);
}

.nlp-button{
    border-radius: 50px;
    border: 1.5px solid var(--nlp-button-color);
    background-color: var(--dark-blue);
    color:var(--white);
    font-size: 0.9em;
}

.nlp-button:hover{
    background-color: var(--nlp-button-color);
    border-color: var(--nlp-button-color-hover);
}

.speech-button{
    border-radius: 50px;
    border: 1.5px solid var(--speech-button-color);
    background-color: var(--dark-blue);
    color:var(--white);
    font-size: 0.9em;
}

.speech-button:hover{
    background-color: var(--speech-button-color);
    border-color: var(--speech-button-color-hover);
}
  
html::-webkit-scrollbar {
    width: 10px; /* Set width as needed */
}

html::-webkit-scrollbar-thumb {
    background-color: var(--ai-button-color-hover); /* Thumb color */
    border-radius: 10px; /* Rounded corners */
}

html::-webkit-scrollbar-track {
    background-color: var(--dark-blue); /* Track color */
    border-radius: 0 0 10px 10px; /* Track border radius */
}

.contact-container {
    text-align: center;
}

.email {
    font-size: 1em;
    padding-top: 1.5em;
    font-family: Ubuntu Mono;
    letter-spacing: 1px;
    text-align: center; /* Center align text */
    margin: 0; /* Reset default margins for h1 */
}

.email-link {
    color: var(--white);
    text-decoration: none;
}

.email-link:hover {
    color: var(--ai-button-color);
}

.mobile {
    padding-top: 1.5em;
    font-size: 1em;
    font-family: Ubuntu Mono;
    letter-spacing: 1px;
    text-align: center; /* Center align text */
    margin: 0; /* Reset default margins for h1 */
}

.mobile-link {
    color: var(--white);
    text-decoration: none;
}

.mobile-link:hover {
    color: var(--ai-button-color);
}

/*Mobile CSS*/
@media only screen and (max-width: 767px) {
    .hamb{
        display: flex;
    }

    #navbarmenu {
        display: none;
    }
    
    #nav-mobile {
        display: contents;
    }

    #mainPicture {
        width: 12em;
    }

    h1 {
        font-size: 1.7em;
    }

    h2 {
        font-size: 0.7em;
    }

    .button-container {
        flex-direction: column;
        align-items: center;
        padding-bottom: 3em;
    }

    .horizontal-content{
        gap: 0;
    }

    .ai-button, .cv-button, .rl-button, .nlp-button, .speech-button{
        margin-top: 1em;
    }

    .email, .mobile, .mobile-link, .email-link{
        font-size: 0.8em;
    }
}